div{
    border: 1px solid black;
    width: 500px;
    height: 100px;
}
.Top{
    background-color: cadetblue;
    margin-left: 544px;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left:20px;
    padding: 20px;

}
.Bottom{
    background-color: chocolate;
    margin-top:330px;
    margin-left:544px;
    
}